<!DOCTYPE html>
<html lang="en">
<head>

    <title>登陆页面</title>

    <link href="/css/login.css" rel="stylesheet" type="text/css"/>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!--<script src="../Source/jquery.js"></script>-->

    <script src="/js/login.js"></script>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >

<div class="div_body">

    <div class="div_bodyin">

        <div class="div_log">

            <img src="../Source/02.png" style="position:relative;left:92px; width:200px; height:46px;opacity:0.5" />

        </div>

        <div class="div_login">

            <h2>USERNAME</h2>

            <label>

                <input type="text" name="textfield1" id="username" class="txt_input txt_input2" onfocus="if (value ==&#39;Your name&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;Your name&#39;}" value="Your name">

            </label>

            <h2>PASSWORD</h2>

            <label>

                <input type="password" name="textfield2" id="userpwd" class="txt_input" onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" value="******">

            </label>

            <label>

                <input type="submit" class="sub_button" name="button" id="button" value="SIGN-IN" style="opacity: 0.7" onclick="load()">

            </label>

        </div>

    </div>

</div>

<script>

</script>

</body>

</html>
